.ReactModalPortal > div {
    opacity:0;
}

.ReactModalPortal .ReactModal__Overlay{
    display: flex;
    justify-content:center;
    align-items:center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}


.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.Modal{
    text-align: center;
    display: flex;
    flex-direction: column;
    background: white;
    color:black;
    width: 60vh;
    padding:20px;
    outline: none;
    height: 55vh;
    text-align:center;
    font-style: "Saira";
    border-radius: 16px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24);
}

.Button_container_modal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 23vh;
    
}

.modal__title{
    padding-left: 20px;
    padding-right: 20px;
}

.button__modal__use, .button__modal__no{
    background-color: white;
    color:black;
    border:1px solid black;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 8px;
    padding-left: 40px;
    padding-right: 40px;
}

.button__modal__use{
    background-color: black;
    color:white;
}