@media (min-width: 600px) {
    #temp {
        border: 1px solid black;
    }
    .password {
        width: 30vh;
        height: 3vh;
        opacity: 0.48;
         
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.56;
        letter-spacing: 0.26px;
        text-align: left;
        color: black;
        border-radius:8px;
        border: 1px solid black;
        background:white;
        justify-content:flex-start;
        display: flex;
    }

    #eyebutton {
        position: absolute;
        border: none;
        background: white;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex: 1;
        margin-left:     
    }
}