@import url('https://fonts.googleapis.com/css?family=Play&display=swap');

.load {
  position: absolute;
	top:40%;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Play', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto !important;
}

footer p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
  color: white;
}

footer a {
  color: white;
  font-weight: bolder;
}

footer a:hover, footer a:visited{
  color: white
}